body {
  background: #4B5320;
  background: radial-gradient(ellipse, #ACE1AF 0%, #006A4E 0%, #1CAC78 100%);
}

.container {
  display:flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.container > form {
  width: 70%;
  border:1px solid #dfdfdf;
  padding:20px;
  border-radius: 5px;
  background: #fff;
}

button {
  background: #0bb405 !important;
}
p {
  color:red
}